.App{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  margin-block: 6.6rem;

  width: 90%;
}


.App .notifications{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}